@import "~bulma/sass/utilities/initial-variables"

// base color
$primary: #1b5e20
$primary-invert: $white
$dark: #003300
$dark-invert: $white
$light: #4c8c4a
$light-invert: $black
$background-card: $white-bis

$text: $black
$text-invert: $white
$text-strong: #002200
$link: $primary
$link-invert: $primary-invert
$link-visited: $light

// custom nav color 
//$navbar-background-color: $dark
$tabs-link-color: $dark-invert
$tabs-link-active-color: $primary-invert
$tabs-boxed-link-active-background-color: $dark
$tabs-boxed-link-hover-background-color: $light
$tabs-boxed-link-hover-border-bottom-color: transparent
$tabs-border-bottom-color: transparent

// custom card color
$card-background-color: $background-card
$card-footer-background-color: $background-card

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.blur
  background-color: rgba(255, 255, 255, 0.9)

.is-with-nav
  .hero-body
    margin-top: 20vh

.nav-margin
  margin-top: 15vh

.is-fixed
  background-attachment: fixed
  background-repeat: no-repeat
  background-position: center center
  object-fit: cover

.float-title
    padding:
      top: 30vh
      right: 0
      left: 0

@import "~bulma"